body {
    background-image: url("vector-landscape-illustration.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
}
body{
    overflow-x: hidden;
}


h1 {
    font-size: 100px; /* or 3rem */
    font-family: Arial,Helvetica,Sans-Serif;
    text-align: center;
    color: rgb(255, 247, 0);

     /* set the height of the container */
    
    
}

#roll-down-container {
    overflow: hidden;
    transition: all 2s; 
}
